@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import 'tailwindcss';
@config '../tailwind.config.js';

:root {
  --primary: #247dbd;
  --primaryColor: #247dbd;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Almarai', sans-serif;
  @apply capitalize;
}

section {
  @apply my-10;
}

/* modal  */
.dashboard-modal .ant-modal-content {
  @apply !p-0;
}

.dashboard-modal .ant-modal-header {
  @apply !bg-primary !p-4;
}
.dashboard-modal .ant-modal-body {
  @apply !p-4;
}

/* uploader  */
.image-upload-form .ant-upload.ant-upload-select {
  background-color: #f6f6f6 !important;
  cursor: pointer !important;
  width: 100% !important;
  min-height: 120px !important;
  border: 2px dotted #7b7b7b17 !important;
  border-radius: 10px !important;
  transition: 0.3s;
  @apply !py-5;
}
.image-upload-form .ant-upload.ant-upload-select:hover {
  border: 2px dotted var(--primaryColor) !important;
}
/* drawer */
.ant-drawer .ant-drawer-header-title {
  @apply !justify-between;
}
.ant-drawer .ant-drawer-title {
  @apply text-end;
}
/* table  */
.ant-table-thead .ant-table-cell {
  /* @apply !text-primary !bg-primary/20; */
  color: white !important;
  background-color: var(--primary) !important;
}

.ant-pagination-item.ant-pagination-item-active {
  @apply !bg-primary !text-white;
}

.ant-pagination .ant-pagination-item-active a {
  @apply !text-white;
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  @apply !m-0 !py-3 bg-white rounded-ee-rounded rounded-es-rounded;
}

.table-actions .ant-dropdown-menu {
  @apply !p-2 !rounded-rounded !min-w-48 !divide-y !divide-slate-200;
}
.table-actions .ant-dropdown-menu-item {
  @apply !rounded-none;
}
